image: Visual Studio 2022
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
build_script:
- pwsh: |
    Invoke-WebRequest "https://dot.net/v1/dotnet-install.ps1" -OutFile "./dotnet-install.ps1"
    ./dotnet-install.ps1 -JSonFile src/global.json -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
- dotnet build src --configuration Release
- pwsh: dotnet exec --depsfile ./src/Tests/bin/Release/net10.0/Tests.deps.json --runtimeconfig ./src/Tests/bin/Release/net10.0/Tests.runtimeconfig.json ./src/Tests/bin/Release/net10.0/Microsoft.Playwright.dll install chromium
- dotnet test src --configuration Release --no-build --no-restore
test: off
artifacts:
- path: nugets\*.nupkg
on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }