* text=auto eol=lf
*.snk binary
*.png binary
*.bmp binary
*.tif binary
*.zip binary
*.nupkg binary

*.verified.md text eol=lf working-tree-encoding=UTF-8
*.verified.mmd text eol=lf working-tree-encoding=UTF-8

.editorconfig text eol=lf working-tree-encoding=UTF-8
*.sln.DotSettings text eol=lf working-tree-encoding=UTF-8
*.slnx.DotSettings text eol=lf working-tree-encoding=UTF-8
